[user]
	signingkey = CD190FECDF0D93E3
	name = Andrew Mason
	email = andrewmcodes@protonmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
	c = commit
	s = status
	ch = checkout
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "main"]
	remote = origin
	merge = refs/heads/main
[credential]
	helper = cache --timeout=86400
[commit]
	gpgsign = true
[push]
	default = simple
	followTags = true
[tag]
	gpgsign = false
[init]
	defaultBranch = main
[pull]
	rebase = true
