[user]
name = Andrew Mason
email = andrewmcodes@protonmail.com
signingkey = EDF0D4B849DE7D4F

[color]
ui = auto

[core]
excludesfile = ~/.gitignore_global
editor = code-insiders --wait
pager = less -R

[alias]
tags = tag -l
branches = branch -a
remotes = remote -v
hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]'
c = commit
s = status -s
ch = checkout

[push]
default = simple
followTags = true
autoSetupRemote = true

[init]
defaultBranch = main

[pull]
rebase = true

[credential]
helper = cache --timeout=86400

[fetch]
prune = true

[maintenance]
repo = /Users/andrew.mason/git/plugins/asdf
repo = /Users/andrew.mason/git/plugins/pure
repo = /Users/andrew.mason/git/plugins/zcolors
repo = /Users/andrew.mason/git/plugins/zsh-autocomplete
repo = /Users/andrew.mason/git/plugins/zsh-autosuggestions
repo = /Users/andrew.mason/git/plugins/zsh-hist
repo = /Users/andrew.mason/git/plugins/zsh-snap
repo = /Users/andrew.mason/git/plugins/zsh-syntax-highlighting
repo = /Users/andrew.mason/git/plugins/zsh-z
repo = /Users/andrew.mason/git/plugins/.tmux
repo = /Users/andrew.mason/git/plugins/asdf-direnv
repo = /Users/andrew.mason/git/plugins/zsh-edit
repo = /Users/andrew.mason/git/zsh-snap
repo = /Users/andrew.mason/git/agkozak/zsh-z
repo = /Users/andrew.mason/git/asdf-community/asdf-direnv
repo = /Users/andrew.mason/git/asdf-vm/asdf
repo = /Users/andrew.mason/git/marlonrichert/zcolors
repo = /Users/andrew.mason/git/marlonrichert/zsh-autocomplete
repo = /Users/andrew.mason/git/marlonrichert/zsh-hist
repo = /Users/andrew.mason/git/prefs/.dotfiles-update
repo = /Users/andrew.mason/git/prefs/alfred-prefs
repo = /Users/andrew.mason/git/projects/.dotfiles-update
repo = /Users/andrew.mason/git/projects/devops-bot
repo = /Users/andrew.mason/git/projects/foobar
repo = /Users/andrew.mason/git/projects/obsidian-beginner-vault-template
repo = /Users/andrew.mason/git/projects/podia
repo = /Users/andrew.mason/git/projects/prettier-config
repo = /Users/andrew.mason/git/projects/redux-on-rails
repo = /Users/andrew.mason/git/projects/shortcuts
repo = /Users/andrew.mason/git/projects/zapier-client
repo = /Users/andrew.mason/git/sindresorhus/pure
repo = /Users/andrew.mason/git/zsh-users/zsh-autosuggestions
repo = /Users/andrew.mason/git/zsh-users/zsh-syntax-highlighting
repo = /Users/andrew.mason/git/plugins/agkozak/zsh-z
repo = /Users/andrew.mason/git/plugins/asdf-community/asdf-direnv
repo = /Users/andrew.mason/git/plugins/asdf-vm/asdf
repo = /Users/andrew.mason/git/plugins/marlonrichert/zcolors
repo = /Users/andrew.mason/git/plugins/marlonrichert/zsh-autocomplete
repo = /Users/andrew.mason/git/plugins/marlonrichert/zsh-hist
repo = /Users/andrew.mason/git/plugins/sindresorhus/pure
repo = /Users/andrew.mason/git/plugins/zsh-users/zsh-autosuggestions
repo = /Users/andrew.mason/git/plugins/zsh-users/zsh-syntax-highlighting
