.config/nvim/tags
.config/nvim/test.sh
.config/nvim/.luarc.json
.config/nvim/nvim
.config/nvim/lazy-lock.json
.config/zim/init.zsh
.config/zim/init.zsh.old
.config/zim/login_init.zsh
.config/zim/login_init.zsh.old
.config/zim/zimfw.zsh
